html, body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #322e2d;
}

h1, h2, h3 {
    margin: 0 0 1rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.6em;
    font-weight: 300;
}

h3 {
    font-size: 1.4em;
    font-weight: 500;
}
