$brand-dark-color: #322e2d;
$brand-light-color: #f8f0ee;

$brand-primary: #ffc4ab;
$brand-primary-dark: #d64b4b;

$brand-secondary: #8ce8ff;
$brand-secondary-dark: #009eaf;

$input-padding: 0.5rem;
$input-disabled: #c7b9b9
