<brand-card>
    <ng-container *ngIf="gameList.length; else noGames">
        <h2>Available Games</h2>

        <div class="open-games">
            <a *mortalAuthenticated="true" class="open-games__entry" [routerLink]="['/', 'game', 'create']">
                <div class="container">
                    <div>
                        <fa-icon [icon]="['fas', 'plus']" size="2x" [fixedWidth]="true"></fa-icon>
                    </div>
                    <span>Start a Game</span>
                </div>
            </a>
            <a *mortalAuthenticated="false" class="open-games__entry" (click)="login()">
                <div class="container">
                    <div>
                        <fa-icon [icon]="['fab', 'facebook']" size="3x" [fixedWidth]="true"></fa-icon>
                    </div>
                    <span>Login</span>
                </div>
            </a>
            <a class="open-games__entry" [routerLink]="['/', 'game', game.uid, 'lobby']" *ngFor="let game of gameList">
                <div class="container">
                    <div>
                        <fa-icon [icon]="['fas', 'gamepad']" size="3x" [fixedWidth]="true"></fa-icon>
                    </div>
                    <span>{{ game.name }}</span>
                </div>
            </a>
        </div>
    </ng-container>

    <ng-template #noGames>
        <h2>No open Games</h2>
        <div>There are no games currently available to join,
            <a [routerLink]="['/', 'game', 'create']" *mortalAuthenticated="true">create a new one</a>
            <a (click)="login()" *mortalAuthenticated="false">login to start a game</a>.
        </div>
    </ng-template>
</brand-card>
