@import '../../../../../_variables';

.manage {
    &__row:not(:last-child) {
        margin-bottom: 2em;
    }
}

.round-list {
    &__item {
        margin-bottom: 1em;
        counter-reset: question-counter;
    }

    .question {
        margin: 0.25em 0;
        word-break: break-all;

        &::before {
            display: inline-block;
            color: $brand-primary;
            width: 1.5em;
            margin-right: 0.25em;
            counter-increment: question-counter;
            content: counter(question-counter)".";
        }
    }
}

.choices {
    display: flex;
    flex-direction: row;

    :first-child {
        flex: 1;
    }

    > * + * {
        margin-left: 1em;
    }
}

.actions {
    display: flex;
    flex-direction: row;

    > button + button {
        margin-left: 1em;
    }
}
