form {
    margin: 1em 0 0;

    button {
        margin: 0 0 1em;
    }
}

.actions {
    display: flex;
    flex-direction: row;

    > * {
        flex: 1 1 auto;
        text-align: center;
        padding: 0.5em 0;
    }
}
