
<section>
    <brand-card>
        <div class="header">
            <div>
                <h2>{{ game.name }}</h2>
                <div>{{ game.type }}</div>
            </div>
            <div *mortalAccount="game.host">
                <button brand-button-plain (click)="toggleConfig()">
                    <span *ngIf="showConfig">Show Lobby</span>
                    <span *ngIf="!showConfig">Edit Game</span>
                </button>
                <button brand-button (click)="startGame()" [disabled]="game.status !== 'OPEN'">Start Game</button>
            </div>
        </div>
    </brand-card>
</section>

<section>
    <ng-template mortalDynamic></ng-template>

    <widget-layout-column *ngIf="!showConfig">
        <div widgetColumn="one">
            <brand-card>
                <h4>Chat ( {{ chat.length }} )</h4>
                <widget-chat [messages]="chat" (send)="sendMessage($event)"></widget-chat>
            </brand-card>
        </div>

        <div widgetColumn="two">
            <brand-card>
                <h4>Players ( {{ players.length }} )</h4>
                <div class="players" *ngFor="let player of players">
                    <widget-player [player]="player"></widget-player>
                </div>
            </brand-card>
        </div>
    </widget-layout-column>
</section>
