<h2>Join the quiz</h2>

<p>Quiz starts at 9pm GMT</p>

<p>Rounds:</p>

<ol>
    <li>General Knowledge</li>
    <li>Hardware / Communications</li>
    <li>The Picture Round</li>
    <li>Gaming</li>
    <li>Software / Programming</li>
    <li>History</li>
</ol>

<form [formGroup]="joinForm" (submit)="enterQuiz()">

    <brand-input type="text" label="Name" formControlName="alias"></brand-input>

    <brand-input type="email" label="Email address" formControlName="email"></brand-input>

    <brand-input type="text" label="Location" formControlName="location"></brand-input>

    <button type="submit" [disabled]="joinForm.pristine || joinForm.invalid">Join</button>

</form>
