@import '../../../../variables';

.widget-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $brand-light-color;
    border-radius: 50%;
    margin-right: 1em;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}
