@import '../variables';

header {
    display: flex;
    flex-direction: row;
    background-color: transparentize($brand-dark-color, 0.6);
    box-shadow: 0 0 2px 2px $brand-dark-color;
    height: 5em;

    > * {
        flex: 1 1 50%;
    }

    .title {
        display: flex;
        flex-direction: row;
        color: $brand-light-color;
        align-items: center;
        margin: 0 1em;
        text-shadow: -2px -2px 0.01em $brand-dark-color;

        img {
            height: 40px;
            margin-right: 1em;
        }

        h1 {
            margin: 0;
        }
    }
}
