<header>
    <div class="title">
        <a [routerLink]="['/']">
            <img src="/assets/logo.png" alt="Code Mortals Logo">
        </a>
        <div>
            <div>Code Mortals Presents</div>
            <h1>Game Night</h1>
        </div>
    </div>
    <div class="user">
        <widget-account *mortalAuthenticated="true" [account]="user" (logout)="logout()"></widget-account>
        <widget-login *mortalAuthenticated="false" (login)="login($event)"></widget-login>
    </div>
</header>

<router-outlet></router-outlet>
