@import '../../../../_variables';

.widget-player {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;

    .user {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 1.75rem;
        margin-left: 0.5em;
        color: $brand-light-color;
        text-align: start;
        justify-content: center;

        h4 {
            margin: 0;
        }
    }
}
