<ng-container *ngIf="question">
    <div class="question" [ngClass]="{ saved: saved }">
        <h4>{{ round.title }}</h4>

        <div class="question__text" [ngSwitch]="question.type">
            <img *ngSwitchCase="'image'" [src]="question.text" />
            <h2 *ngSwitchDefault [gameMarkdown]="question.text"></h2>
        </div>
    </div>

    <div class="choices">
        <div *ngFor="let choice of question.choiceList">
            <button [ngClass]="{ selected: isSelected(choice) }" (click)="toggleChoice(choice)">{{ choice.text }}</button>
        </div>
    </div>

    <button brand-button (click)="saveAnswer()" [disabled]="!response.length">
        <span *ngIf="saved">Update Answer</span>
        <span *ngIf="!saved">Save Answer</span>
    </button>
</ng-container>
