<ng-container *ngIf="question">
    <div class="question">
        <h4>{{ round.title }}</h4>

        <ng-container [ngSwitch]="question.type">
            <img *ngSwitchCase="'image'" [src]="question.title" />
            <h2 *ngSwitchDefault [gameMarkdown]="question.title"></h2>
        </ng-container>
    </div>

    <div class="choices">
        <div *ngFor="let choice of question.choices">
            <button brand-button>{{ choice.option }}</button>
        </div>
    </div>
</ng-container>
